cmdb.location={{ cmdb_url }}

iam.location={{ iam_location }}
iam.username={{ iam_username }}
iam.password={{ iam_password }}
iam.clientid={{ iam_clientid }}
iam.clientsecret={{ iam_clientsecret }}
iam.grant_type={{ iam_grant_type }}
zabbix.ip={{ zabbix_ip }}
zabbix.wrapper.location={{ zabbix_wrapper_location }}
qcg.token={{ qcg_token }}

qcg.metrics=qcg.api.read.availability
qcg.metrics=qcg.api.read.cpus.total
qcg.metrics=qcg.api.read.cpus.used