heapster.url={{ heapster_url }}
heapster.port={{ heapster_port }}
java.keystore={{ java_keystore }}
zabbix.ip={{ zabbix_ip }}
zabbix.sender.location={{ zabbix_sender_location }}
zabbix.wrapper.location={{ zabbix_wrapper_location }}