[onedata]
portZone=8443
portProvider=8443
hostProvider=oneprovider.cloud.cnaf.infn.it
hostZone=onezone.cloud.cnaf.infn.it

[zabbix]
agent_delay=60
template=onedataTemplateTest
monitoredhost=onedatahost

[items]
onezone_spaces_namespace=0
onezone_spaces_namespace_groups=0
onezone_spaces_namespace_providers=0
onezone_spaces_namespace_users=1
oneprovider_space_namespace_storage_quota=1
oneprovider_space_namespace_storage_used=1
oneprovider_space_namespace_data_access=1
oneprovider_space_namespace_block_access=0
oneprovider_space_namespace_connected_users=0

[log]
# loglevel = [ERROR, WARNING, INFO, DEBUG]
loglevel = ERROR
