java.keystore={{ java_keystore }}
zabbix.ip={{ zabbix_ip }}
zabbix.sender.location={{ zabbix_sender_location }}
zabbix.wrapper.location={{ zabbix_wrapper_location }}
openstack.keystoneurl={{ os_keystone_url }}
openstack.keystoneport={{ os_keystone_port }}
openstack.occiurl={{ os_occi_url }}
openstack.occiport={{ os_occi_port }}
openstack.user={{ os_keystone_user }}
openstack.password={{ os_keystone_password }}
cmdb.location={{ cmdb_location }}