Package: [ZabbixOCCIProbe]
Version: [0.8]
Section: misc
Priority: low
Architecture: all
Description: [Zabbix probe for monitoring OCCI APIs]
Maintainer: francisco.nieto@atos.net
Depends: default-jre | java6-runtime