Package: openstack-zabbix-probe
Version: 1.3.1
Section: misc
Priority: high
Architecture: all
Description: Zabbix probe for monitoring Openstack APIs
Maintainer: jose.sanchezm@atos.net
Depends: default-jre | java-8-runtime