Package: [ZabbixOpenstackProbe]
#zabbixOpenstackprobe
Version: [0.95]
Section: misc
Priority: low
Architecture: all
Description: [Zabbix probe for monitoring Openstack APIs]
Maintainer: m.grandolfo@reply.it
Depends: default-jre | java8-runtime